DigitalBank.PresentacionCliente/Connected Services/ServiceReferenceUsuarioWCF/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52315/UsuarioServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52315/UsuarioServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52315/UsuarioServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServiceWCF_ObtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_ObtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_ObtenerUsuarioPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorId" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_ObtenerUsuarioPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarioPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_ActualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_ActualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_GrabarLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabarLog" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServiceWCF_GrabarLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabarLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServiceWCF">
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuarios" message="tns:IUsuarioServiceWCF_ObtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuariosResponse" message="tns:IUsuarioServiceWCF_ObtenerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuarioPorId" message="tns:IUsuarioServiceWCF_ObtenerUsuarioPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuarioPorIdResponse" message="tns:IUsuarioServiceWCF_ObtenerUsuarioPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/CrearUsuario" message="tns:IUsuarioServiceWCF_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/CrearUsuarioResponse" message="tns:IUsuarioServiceWCF_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ActualizarUsuario" message="tns:IUsuarioServiceWCF_ActualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/ActualizarUsuarioResponse" message="tns:IUsuarioServiceWCF_ActualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/EliminarUsuario" message="tns:IUsuarioServiceWCF_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/EliminarUsuarioResponse" message="tns:IUsuarioServiceWCF_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrabarLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/GrabarLog" message="tns:IUsuarioServiceWCF_GrabarLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServiceWCF/GrabarLogResponse" message="tns:IUsuarioServiceWCF_GrabarLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioServiceWCF" type="tns:IUsuarioServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarioPorId">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/ObtenerUsuarioPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/ActualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarLog">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServiceWCF/GrabarLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IUsuarioServiceWCF" binding="tns:BasicHttpBinding_IUsuarioServiceWCF">
      <soap:address location="http://localhost:52315/UsuarioServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>